{% extends 'base.html' %}
{% block title %}Academic Requests{% endblock %}

{% block content %}

<h1 class="mb-3">Request Management</h1>

<!-- FERPA -->
<h2 class="mb-3">FERPA Requests</h2>
<table class="table">
	<thead>
		<tr>
			<th>Status</th>
			<th>Time Requested</th>
			<th>File</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for ferpa_request in ferpa_requests %}
		<tr>
			<td>{{ ferpa_request.status }}</td>
			<td>{{ ferpa_request.time }}</td>
			<td><a href="{{ url_for('download_file', filename=ferpa_request.pdf_link) }}">File</a></td>
			<td>
				{% if ferpa_request.status != "approved" and ferpa_request.status != "returned" and ferpa_request.status != "rejected" %}
                <form action="{{ url_for('approve_ferpa_request', id=ferpa_request.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form action="{{ url_for('return_ferpa_request', id=ferpa_request.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-warning">Return</button>
                </form>
				<form action="{{ url_for('reject_ferpa_request', id=ferpa_request.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
				{% endif %}
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- Info Change -->
<h2 class="mb-3">Name/SSN Change Requests</h2>
<table class="table">
	<thead>
		<tr>
			<th>Status</th>
			<th>Time Requested</th>
			<th>File</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for infochange_request in infochange_requests %}
		<tr>
			<td>{{ infochange_request.status }}</td>
			<td>{{ infochange_request.time }}</td>
			<td><a href="{{ url_for('download_file', filename=infochange_request.pdf_link) }}">File</a></td>
			<td>
				{% if infochange_request.status != "approved" and infochange_request.status != "returned" and infochange_request.status != "rejected" %}
                <form action="{{ url_for('approve_infochange_request', id=infochange_request.id) }}" method="post" style="display:inline;">
					<button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form action="{{ url_for('return_infochange_request', id=infochange_request.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-warning">Return</button>
                </form>
				<form action="{{ url_for('reject_infochange_request', id=infochange_request.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
				{% endif %}
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</table>

{% endblock %}
