{% extends 'base.html' %}
{% block title %}Academic Requests{% endblock %}

{% block content %}

<h1 class="mb-3">Request Management</h1>
<h3 class="mb-3">FERPA</h3>
<p>Click <a href="ferpa">here</a> to fill out the FERPA form.</p>
<h3 class="mb-3">Name/SSN Change</h3>
<p>Click <a href="info_change">here</a> to fill out the name change/SSN form.</p>

<!-- FERPA -->
<h2 class="mb-3">FERPA Requests</h2>
<table class="table">
	<thead>
		<tr>
			<th>Status</th>
			<th>Time Requested</th>
			<th>File</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{% for ferpa_request in ferpa_requests %}
		<tr>
			<td>{{ ferpa_request.status }}</td>
			<td>{{ ferpa_request.time }}</td>
			<td><a href="{{ url_for('download_file', filename=ferpa_request.pdf_link) }}">File</a></td>
			<td><a href="{{ url_for('edit_ferpa_request', ferpa_request_id=ferpa_request.id) }}">Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- Info Change -->
<h2 class="mb-3">Info Change Requests</h2>
<table class="table">
	<thead>
		<tr>
			<th>Status</th>
			<th>Time Requested</th>
			<th>File</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		{% for infochange_request in infochange_requests %}
		<tr>
			<td>{{ infochange_request.status }}</td>
			<td>{{ infochange_request.time }}</td>
			<td><a href="{{ url_for('download_file', filename=request.pdf_link) }}">File</a></td>
			<td><a href="#">Edit</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
