{% extends 'base.html' %}
{% block title %}FERPA Form{% endblock %}
{% block content %}
<h1 class="mb-3">FERPA Release Form</h1>

<form method="POST" enctype="multipart/form-data">
	{{ form.hidden_tag() }}

	
	<h2 class="mb-3">Name and Campus</h2>
	<!-- Name -->
	<div class="mb-3">
		<label for="name" class="form-label">Name:</label>
		{{ form.name(class="form-control") }}
	</div>

	<!-- Campus -->
	<div class="mb-3">
		<label for="campus" class="form-label">Campus:</label>
		{{ form.campus(class="form-control") }}
	</div>

	<h2 class="mb-3">Officials</h2>
	<h4 class="mb-3">Authorize officials to disclose information</h4>
	<!-- Officials + Other field-->
	<div class="mb-3">
		<label for="official_choices" class="form-label">Choose:</label>
		{{ form.official_choices(class="form-control") }}
	</div>

	<div class="mb-3">
		<label for="official_other" class="form-label">Other:</label>
		<small>Only fill out this field if you selected other above.</small>
		{{ form.official_other(class="form-control") }}
	</div>

	<h2 class="mb-3">Information</h2>
	<h4 class="mb-3">Authorize type of information to disclose</h4>
	<!-- Check boxes + other fields -->
	<div class="mb-3">
		<label for="info_choices" class="form-label">Choose:</label>
		{{ form.info_choices(class="form-control") }}
	</div>

	<div class="mb-3">
		<label for="info_other" class="form-label">Other:</label>
		<small>Only fill out this field if you selected other above.</small>
		{{ form.info_other(class="form-control") }}
	</div>

	<h2 class="mb-3">Release</h2>
	<h4 class="mb-3">Authorize individuals to receive your information</h4>
	<!-- Release to -->
	<div class="mb-3">
		<label for="release_to" class="form-label">Release to:</label>
		{{ form.release_to(class="form-control") }}
	</div>

	<!-- Purpose -->
	<div class="mb-3">
		<label for="purpose" class="form-label">Purpose:</label>
		{{ form.purpose(class="form-control") }}
	</div>

	<!-- Additional names -->
	<div class="mb-3">
		<label for="additional_names" class="form-label">Additional Names:</label>
		{{ form.additional_names(class="form-control") }}
	</div>

	<!-- Release to selection -->
	<div class="mb-3">
		<label for="release_choices" class="form-label">Choose:</label>
		{{ form.release_choices(class="form-control") }}
	</div>

	<div class="mb-3">
		<label for="release_other" class="form-label">Other:</label>
		<small>Only fill out this field if you selected other above.</small>
		{{ form.release_other(class="form-control") }}
	</div>


	<h2 class="mb-3">Security & Signature</h2>
	<!-- Essential Info -->
	<div class="mb-3">
		<label for="password" class="form-label">Password:</label>
		{{ form.password(class="form-control") }}
	</div>

	<div class="mb-3">
		<label for="peoplesoft_id" class="form-label">myUH ID:</label>
		{{ form.peoplesoft_id(class="form-control") }}
	</div>

	<div class="mb-3">
		<label for="peoplesoft_id" class="form-label">Signature Upload</label>
		{{ form.signature(class="form-control") }}
	</div>

	<div class="mb-3">
		<label for="date" class="form-label">Date:</label>
		{{ form.date(class="form-control") }}
	</div>

	<div class="mb-3">
		<label for="is_draft" class="form-label"></label>
		{{ form.is_draft(class="form-check-input") }}
        {{ form.is_draft.label(class="form-check-label") }}
	</div>

	<button type="submit" class="btn btn-primary mt-3 mb-3">{{ form.submit.label }}</button>

</form>
{% endblock %}
