{% extends 'base.html' %}
{% block title %}Academic Requests{% endblock %}

{% block content %}

<h2 class="mb-3">Request Management</h2>

<!-- Approve, reject, or return requests -->
<h3 class="mb-3">FERPA Requests</h3>
<table class="table">
	<thead>
		<tr>
			<th>Status</th>
			<th>Type<th>
			<th>Time</th>
			<th>File</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for request in requests %}
		<tr>
			<td><span class="{% if request.status == 'approved' %} text-success
				{% elif request.status == 'pending' %} text-warning
				{% elif request.status == 'draft' %} text-info
				{% elif request.status == 'rejected' %} text-danger
				{% elif request.status == 'returned' %} text-secondary {% endif %}">
				{{ request.status.capitalize() }}</span></td>
			<td>{{ request.request_type.capitalize() }}
			<td>{{ request.time }}</td>
			<td><a href="{{ url_for('main.download_file', filename=request.pdf_link) }}" class="btn btn-outline-primary btn-sm">File</a></td>
			<td>
				{% if request.status != "approved" and request.status != "returned" and request.status != "rejected" %}
                <form action="{{ url_for('manager.approve_request', id=request.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form action="{{ url_for('manager.return_request', id=request.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-warning">Return</button>
                </form>
				<form action="{{ url_for('manager.reject_request', id=request.id) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
				{% else %} No actions available.
				{% endif %}
            </td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
