{% extends 'base.html' %}
{% block title %}Manage Profile{% endblock %}
{% block content %}

<h2>Hello, {{ session['user']['name'] }}.</h2>
<h3 class="mt-5">Account Info</h3>

<form method="POST" action="{{ url_for('user.profile') }}">
	{{ form.hidden_tag() }}

	<label for="name" class="mt-3">Name:</label>
	{{ form.name(class="form-control") }}

	<label for="email" class="mt-3">Email:</label>
	{{ form.email(class="form-control") }}

	<button type="submit" class="btn btn-primary mt-3">{{ form.submit.label }}</button>

</form>

{% endblock %}
